In [60]:
import pandas as pd

#CHANGE CSV FILES

# Read in CSV Files for companies
apple_df = pd.read_csv('AAPL_Training.csv')
amazon_df = pd.read_csv('AMZN_Training.csv')
google_df = pd.read_csv('GOOG_Training.csv')
microsoft_df = pd.read_csv('MSFT_Training.csv')
tesla_df = pd.read_csv('TSLA_Training.csv')

print(google_df)

            Date       Open       High        Low      Close  Adj Close  \
0     2011-01-03  14.856315  15.083214  14.856315  15.052330  15.052330
1     2011-01-04  15.083962  15.097909  14.946975  14.996788  14.996788
2     2011-01-05  14.945730  15.201272  14.945232  15.169890  15.169890
3     2011-01-06  15.209989  15.403016  15.194298  15.280226  15.280226
4     2011-01-07  15.340251  15.398533  15.196291  15.353451  15.353451
...          ...        ...        ...        ...        ...        ...
2512  2020-12-24  86.750000  87.300003  86.455498  86.942497  86.942497
2513  2020-12-28  87.581749  89.536400  87.316750  88.804497  88.804497
2514  2020-12-29  89.389503  89.622002  87.804497  87.935997  87.935997
2515  2020-12-30  88.100502  88.254753  86.279999  86.975998  86.975998
2516  2020-12-31  86.771004  87.946503  86.771004  87.594002  87.594002

         Volume
0      94962614
1      73253547
2     101671667
3      82620526
4      84363033
...         ...
2512    6936000
2513   27860000
2514   25988000
2515   26122000
2516   20238000

[2517 rows x 7 columns]

In [61]:
# Function for calculating FIRST parameter (each day's high - low)

def calculate_high_low_diff(df):
    high_low_values = df["High"] - df["Low"]
    new_df = pd.DataFrame({"Date": df["Date"], "High-Low": high_low_values})
    return new_df

In [62]:
# Variable 1
# New DataFrame for each company's High-Low Variable

apple_high_minus_low = calculate_high_low_diff(apple_df)
amazon_high_minus_low = calculate_high_low_diff(amazon_df)
google_high_minus_low = calculate_high_low_diff(google_df)
microsoft_high_minus_low = calculate_high_low_diff(microsoft_df)
tesla_high_minus_low = calculate_high_low_diff(tesla_df)

In [63]:
# Function for calculating SECOND parameter (each day's close - open)

def calculate_close_open_diff(df):
    new_df = pd.DataFrame()
    new_df['Date'] = df['Date']
    new_df['Close-Open'] = df['Close'] - df['Open']
    return new_df

In [64]:
# Variable 2
# New DataFrame for each company's Close-Open Variable

apple_high_minus_low = calculate_close_open_diff(apple_df)
amazon_high_minus_low = calculate_close_open_diff(amazon_df)
google_high_minus_low = calculate_close_open_diff(google_df)
microsoft_high_minus_low = calculate_close_open_diff(microsoft_df)
tesla_high_minus_low = calculate_close_open_diff(tesla_df)

print(tesla_high_minus_low)

            Date  Close-Open
0     2011-01-03   -0.014666
1     2011-01-04    0.000667
2     2011-01-05    0.023334
3     2011-01-06    0.070000
4     2011-01-07    0.016000
...          ...         ...
2512  2020-12-24    6.259994
2513  2020-12-28   -3.606674
2514  2020-12-29    1.663346
2515  2020-12-30    7.593338
2516  2020-12-31    1.893326

[2517 rows x 2 columns]

In [71]:
# Function for calculating THIRD parameter (7 Day Moving Average)

def moving_average(dataframe, days):
    # Create a new dataframe with the moving average
    ma_df = pd.DataFrame()
    ma_df['Date'] = dataframe['Date']
    ma_df['Moving Avg'] = dataframe['Close'].rolling(window=days).mean()

    # Add a column with the date of each week
    ma_df['Week'] = pd.to_datetime(ma_df['Date']).dt.to_period('W').dt.start_time
    
    # Group by week and get the last date and moving average for each week
    ma_df = ma_df.groupby('Week').tail(1)

    return ma_df

In [76]:
ma_7days = moving_average(apple_df, 5)
ma_7days.set_index('Date', inplace=True)
print(ma_7days.head())

            Moving Avg       Week
Date
2011-01-07   11.890786 2011-01-03
2011-01-14   12.304786 2011-01-10
2011-01-21   12.052643 2011-01-17
2011-01-28   12.157214 2011-01-24
2011-02-04   12.275786 2011-01-31

In [77]:
ma_7days = moving_average(apple_df, 10)
ma_7days.set_index('Date', inplace=True)
print(ma_7days)

            Moving Avg       Week
Date
2011-01-07         NaN 2011-01-03
2011-01-14   12.097786 2011-01-10
2011-01-21   12.134571 2011-01-17
2011-01-28   12.104929 2011-01-24
2011-02-04   12.216500 2011-01-31
...                ...        ...
2020-12-04  118.902000 2020-11-30
2020-12-11  122.560001 2020-12-07
2020-12-18  124.838999 2020-12-14
2020-12-24  127.828001 2020-12-21
2020-12-31  131.637001 2020-12-28

[522 rows x 2 columns]

In [90]:
import pandas as pd

def calculate_ma(df, weeks):
    # Create a new column with the rolling average
    ma_column = f"{weeks}-Day MA"
    df[ma_column] = df["Close*"].rolling(window=weeks*5).mean()
    
    # Create a new column with the week start dates
    df["Week"] = pd.to_datetime(df["Date"])
    df["Week"] = df["Week"].apply(lambda x: x - pd.Timedelta(days=x.dayofweek))
    
    # Filter the dataframe to only show rows with start of week dates
    filtered_df = df[df["Date"] == df["Week"]]
    
    # Keep only the Week and MA columns and return the filtered dataframe
    return filtered_df[["Week", ma_column]]

In [92]:
# apple_df
print(calculate_ma(apple_df, 14));

           Week   14-Day MA
0    2011-01-03   11.770357
5    2011-01-10   11.947381
14   2011-01-24   12.129206
19   2011-01-31   12.072214
24   2011-02-07   12.268036
...         ...         ...
2494 2020-11-30  117.121110
2499 2020-12-07  120.175556
2504 2020-12-14  122.833000
2509 2020-12-21  125.286999
2513 2020-12-28  130.086667

[473 rows x 2 columns]

In [82]:
moving_average(apple_df, weeks=2)

            Date  Moving Avg       Week
4     2011-01-07         NaN 2011-01-03
9     2011-01-14   12.097786 2011-01-10
13    2011-01-21   12.134571 2011-01-17
18    2011-01-28   12.104929 2011-01-24
23    2011-02-04   12.216500 2011-01-31
...          ...         ...        ...
2498  2020-12-04  118.902000 2020-11-30
2503  2020-12-11  122.560001 2020-12-07
2508  2020-12-18  124.838999 2020-12-14
2512  2020-12-24  127.828001 2020-12-21
2516  2020-12-31  131.637001 2020-12-28

[522 rows x 3 columns]